version: "3.7"

services:
    uniquesso-back:
        build: ./SSO
        volumes:
            - ./SSO/conf.yaml:/opt/uniquesso-backend/config/settings.yaml
        ports:
            - 5000:5000
        networks:
            - uniquesso
            - db_network

#    uniquesso-front:
#        build: ./dashboard
#        env_file:
#            - ./dashboard/.env
#        volumes:
#            - ./static/:/opt/uniquesso-dashboard/
#        networks:
#            - uniquesso
#            - db_network


networks:
    uniquesso:
        internal: true
        name: uniques
    db_network:
        external: true
        name: db_network
